<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[嘻嘻]</string>
	<key>002</key>
	<string>[哈哈]</string>
	<key>003</key>
	<string>[喜欢]</string>
	<key>004</key>
	<string>[晕]</string>
	<key>005</key>
	<string>[泪]</string>
	<key>006</key>
	<string>[馋嘴]</string>
	<key>007</key>
	<string>[抓狂]</string>
	<key>008</key>
	<string>[哼]</string>
	<key>009</key>
	<string>[可爱]</string>
	<key>010</key>
	<string>[怒]</string>
	<key>011</key>
	<string>[汗]</string>
	<key>012</key>
	<string>[微笑]</string>
	<key>013</key>
	<string>[睡觉]</string>
	<key>014</key>
	<string>[钱]</string>
	<key>015</key>
	<string>[偷笑]</string>
	<key>016</key>
	<string>[酷]</string>
	<key>017</key>
	<string>[衰]</string>
	<key>018</key>
	<string>[吃惊]</string>
	<key>019</key>
	<string>[怒骂]</string>
	<key>020</key>
	<string>[鄙视]</string>
	<key>021</key>
	<string>[挖鼻屎]</string>
	<key>022</key>
	<string>[色]</string>
	<key>023</key>
	<string>[鼓掌]</string>
	<key>024</key>
	<string>[悲伤]</string>
	<key>025</key>
	<string>[思考]</string>
	<key>026</key>
	<string>[生病]</string>
	<key>027</key>
	<string>[亲亲]</string>
	<key>028</key>
	<string>[抱抱]</string>
	<key>029</key>
	<string>[白眼]</string>
	<key>030</key>
	<string>[右哼哼]</string>
	<key>031</key>
	<string>[左哼哼]</string>
	<key>032</key>
	<string>[嘘]</string>
	<key>033</key>
	<string>[委屈]</string>
	<key>034</key>
	<string>[哈欠]</string>
	<key>035</key>
	<string>[敲打]</string>
	<key>036</key>
	<string>[疑问]</string>
	<key>037</key>
	<string>[挤眼]</string>
	<key>038</key>
	<string>[害羞]</string>
	<key>039</key>
	<string>[快哭了]</string>
	<key>040</key>
	<string>[拜拜]</string>
	<key>041</key>
	<string>[黑线]</string>
	<key>042</key>
	<string>[强]</string>
	<key>043</key>
	<string>[弱]</string>
	<key>044</key>
	<string>[给力]</string>
	<key>045</key>
	<string>[浮云]</string>
	<key>046</key>
	<string>[围观]</string>
	<key>047</key>
	<string>[威武]</string>
	<key>048</key>
	<string>[相机]</string>
	<key>049</key>
	<string>[汽车]</string>
	<key>050</key>
	<string>[飞机]</string>
	<key>051</key>
	<string>[爱心]</string>
	<key>052</key>
	<string>[奥特曼]</string>
	<key>053</key>
	<string>[兔子]</string>
	<key>054</key>
	<string>[熊猫]</string>
	<key>055</key>
	<string>[不要]</string>
	<key>056</key>
	<string>[ok]</string>
	<key>057</key>
	<string>[赞]</string>
	<key>058</key>
	<string>[勾引]</string>
	<key>059</key>
	<string>[耶]</string>
	<key>060</key>
	<string>[爱你]</string>
	<key>061</key>
	<string>[拳头]</string>
	<key>062</key>
	<string>[差劲]</string>
	<key>063</key>
	<string>[握手]</string>
	<key>064</key>
	<string>[玫瑰]</string>
	<key>065</key>
	<string>[心]</string>
	<key>066</key>
	<string>[伤心]</string>
	<key>067</key>
	<string>[猪头]</string>
	<key>068</key>
	<string>[咖啡]</string>
	<key>069</key>
	<string>[麦克风]</string>
	<key>070</key>
	<string>[月亮]</string>
	<key>071</key>
	<string>[太阳]</string>
	<key>072</key>
	<string>[啤酒]</string>
	<key>073</key>
	<string>[萌]</string>
	<key>074</key>
	<string>[礼物]</string>
	<key>075</key>
	<string>[互粉]</string>
	<key>076</key>
	<string>[钟]</string>
	<key>077</key>
	<string>[自行车]</string>
	<key>078</key>
	<string>[蛋糕]</string>
	<key>079</key>
	<string>[围巾]</string>
	<key>080</key>
	<string>[手套]</string>
	<key>081</key>
	<string>[雪花]</string>
	<key>082</key>
	<string>[雪人]</string>
	<key>083</key>
	<string>[帽子]</string>
	<key>084</key>
	<string>[树叶]</string>
	<key>085</key>
	<string>[足球]</string>
</dict>
</plist>
