<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[hee hee]</string>
	<key>002</key>
	<string>[lol]</string>
	<key>003</key>
	<string>[nice]</string>
	<key>004</key>
	<string>[dizzy]</string>
	<key>005</key>
	<string>[cry]</string>
	<key>006</key>
	<string>[greedy]</string>
	<key>007</key>
	<string>[crazy]</string>
	<key>008</key>
	<string>[hum]</string>
	<key>009</key>
	<string>[cute]</string>
	<key>010</key>
	<string>[angry]</string>
	<key>011</key>
	<string>[sweat]</string>
	<key>012</key>
	<string>[smile]</string>
	<key>013</key>
	<string>[sleepy]</string>
	<key>014</key>
	<string>[money]</string>
	<key>015</key>
	<string>[razz]</string>
	<key>016</key>
	<string>[cool]</string>
	<key>017</key>
	<string>[bad luck]</string>
	<key>018</key>
	<string>[surprise]</string>
	<key>019</key>
	<string>[curse]</string>
	<key>020</key>
	<string>[contempt]</string>
	<key>021</key>
	<string>[booger]</string>
	<key>022</key>
	<string>[lust]</string>
	<key>023</key>
	<string>[clap]</string>
	<key>024</key>
	<string>[sad]</string>
	<key>025</key>
	<string>[think]</string>
	<key>026</key>
	<string>[sick]</string>
	<key>027</key>
	<string>[kiss]</string>
	<key>028</key>
	<string>[hug]</string>
	<key>029</key>
	<string>[supercilious]</string>
	<key>030</key>
	<string>[right hum]</string>
	<key>031</key>
	<string>[left hum]</string>
	<key>032</key>
	<string>[quiet]</string>
	<key>033</key>
	<string>[grievance]</string>
	<key>034</key>
	<string>[yawn]</string>
	<key>035</key>
	<string>[beat]</string>
	<key>036</key>
	<string>[question]</string>
	<key>037</key>
	<string>[winking]</string>
	<key>038</key>
	<string>[shy]</string>
	<key>039</key>
	<string>[gonna cry]</string>
	<key>040</key>
	<string>[bye]</string>
	<key>041</key>
	<string>[silent]</string>
	<key>042</key>
	<string>[strong]</string>
	<key>043</key>
	<string>[weak]</string>
	<key>044</key>
	<string>[awesome]</string>
	<key>045</key>
	<string>[meaningless]</string>
	<key>046</key>
	<string>[onlooker]</string>
	<key>047</key>
	<string>[mighty]</string>
	<key>048</key>
	<string>[camera]</string>
	<key>049</key>
	<string>[car]</string>
	<key>050</key>
	<string>[plane]</string>
	<key>051</key>
	<string>[love]</string>
	<key>052</key>
	<string>[ultraman]</string>
	<key>053</key>
	<string>[rabbit]</string>
	<key>054</key>
	<string>[panda]</string>
	<key>055</key>
	<string>[no]</string>
	<key>056</key>
	<string>[ok]</string>
	<key>057</key>
	<string>[like]</string>
	<key>058</key>
	<string>[tempt]</string>
	<key>059</key>
	<string>[yeah]</string>
	<key>060</key>
	<string>[love u]</string>
	<key>061</key>
	<string>[fist]</string>
	<key>062</key>
	<string>[poor]</string>
	<key>063</key>
	<string>[shake hand]</string>
	<key>064</key>
	<string>[rose]</string>
	<key>065</key>
	<string>[heart]</string>
	<key>066</key>
	<string>[broken heart]</string>
	<key>067</key>
	<string>[pig]</string>
	<key>068</key>
	<string>[coffee]</string>
	<key>069</key>
	<string>[mic]</string>
	<key>070</key>
	<string>[moon]</string>
	<key>071</key>
	<string>[sun]</string>
	<key>072</key>
	<string>[beer]</string>
	<key>073</key>
	<string>[adorable]</string>
	<key>074</key>
	<string>[gift]</string>
	<key>075</key>
	<string>[follow]</string>
	<key>076</key>
	<string>[clock]</string>
	<key>077</key>
	<string>[bike]</string>
	<key>078</key>
	<string>[cake]</string>
	<key>079</key>
	<string>[scarf]</string>
	<key>080</key>
	<string>[glove]</string>
	<key>081</key>
	<string>[snow]</string>
	<key>082</key>
	<string>[snowman]</string>
	<key>083</key>
	<string>[hat]</string>
	<key>084</key>
	<string>[leaf]</string>
	<key>085</key>
	<string>[football]</string>
</dict>
</plist>
